

/* body {
  margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont,  "Helvetica Neue","proxima-nova", "Avenir"
    sans-serif; */
/*    "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
*/
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Avenir", */
    /* sans-serif;
} */
